.menu-hamb {
  position: relative;
  display: block;
  width: 0.6em;
  height: 0.6em;
  background-color: white;
  border-radius: 50%;
  z-index: 1000;
}

.menu-hamb::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.6em;
  height: 0.4em;
  background-color: rgb(255, 255, 255);
  top: -8px;
  border-radius: 50% 50% 0 0;
  transition: height ease-in-out 0.1s, top ease-in-out 0.1s;
}

.menu-hamb::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.6em;
  height: 0.4em;
  background-color: rgb(255, 255, 255);
  top: 12px;
  border-radius: 0% 0% 50% 50%;
  transition: height ease-in-out 0.1s, top ease-in-out 0.1s;
}

.menu-hamb-on::after {
  height: 0.8em;
  border-radius: 5px;
  top: -6px;
}

.menu-hamb-on::before {
  top: 3px;
  height: 1em;
  border-radius: 5px;
}

/* nav mobile */

.nav-mobile {
  position: absolute;
  width: 100%;
  height: 20em;
  background-color: #084d17;
  left: 0;
  top: 0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 500;
}

.nav-mobile-off {
  transition: z-index ease-in-out 0.2s 0.5s;
  z-index: -1;
}

.nav-mobile::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -70%;
  left: -60%;
  width: 25em;
  height: 25em;
  background-color: #63b875;
  border-radius: 50%;
  opacity: 0.1;
  z-index: 10;
}

.nav-mobile::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -70%;
  left: -60%;
  width: 30em;
  height: 30em;
  background-color: #3a864a;
  border-radius: 50%;
  opacity: 0.1;
  z-index: 10;
}

.nav-mobile > ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.nav-mobile > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-mobile > ul > li {
  width: 80%;
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid white;
}
