<section>
    <h2>Sobre nosotros</h2>
    <article class="about-01">
        <img src="../../public/produccion01.jpg" alt="imágen del producto principal, y especialidad. Yogurt Natural de tipo Griego">
        <p>En nuestra casa, el yogur era amor y salud en cada cucharada. Inspirados por nuestra abuela, creamos yogures naturales con ingredientes simples y amor. Cada taza fusiona tradición con calidad. Únete a nuestro viaje hacia una vida más saludable y disfruta del amor de una abuela en cada bocado.
        </p>
    </article>
    <article class="about-02">
        <img src="../../public/produccion02.jpg" alt="imágen del producto principal, y especialidad. Yogurt Natural de tipo Griego">
    </article>
    <article class="about-03">
        <img src="../../public/produccion03.jpg" alt="Nuestro equipo">
        <div>
            <strong>Experimeta la Tradición
            </strong>
            <p>Nuestro yogur natural te lleva a la cocina de nuestra abuela, donde frescura y amor se unen. Con cada cucharada, experimenta el poder transformador de alimentos simples y saludables. Bienvenido a nuestra familia, donde tradición y excelencia se unen para ofrecerte lo mejor en nutrición y sabor.</p>
        </div>
    </article>
</section>

<style>

    section{
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 3em .5em;
    }

    h2{
        font-size: 1.3em;
        color: #022409;
        text-align: center;
    }

    .about-01, .about-03{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .about-03{
        flex-direction: row-reverse;
    }

    .about-01 > img, .about-03 > img {
        width: 50%;
        height: 10em;
        border-radius: 20px 0;
        object-fit: cover;
        box-shadow: 7px 7px 0 #084d17;
    }

    .about-03 > img{
        box-shadow: -7px 7px 0 #084d17;
    }

    .about-01 > p, .about-03 > div > p{
        font-size: .7em;
        text-wrap: pretty;
        color: #022409

    }
    
    .about-03 > div{
        display: flex;
        gap: .5em;
        flex-direction: column;
    }

    .about-03 > div > strong{
        font-size: .9em;
    }

    .about-02{
        width: 100%;
    }

    .about-02 > img {
        width: 100%;
        height: 12em;
        border-radius: 20px 0 20px 0;
        object-fit: cover;
        box-shadow: 5px 7px 0 #084d17;

    }


    @media (width > 700px){

        section{
            width: 60%;
            margin: auto;
            gap: 4em;
        }

        h2{
            font-size: 2em;
        }

        .about-01, .about-03{
            gap: 2.5em;
            padding: 0 8em;
        }

        .about-01 > img, .about-03 > img {
            width: 70%;
            height: 20em;
            box-shadow: 7px 7px 0 #084d1775;
        }

        .about-01 > p, .about-03 > div > p{
            font-size: 1.4em;

        }

        .about-03 > div > strong{
            font-size: 1.7em;
        }

        .about-02{
            position: relative;
            width: 100%;
        }

        .about-02 > img {
            width: 100%;
            height: 25em;
            border-radius: 20px 0 20px 0;
            object-fit: cover;
            box-shadow: 5px 7px 0 #084d17;
        }

        .about-02::before{
            content: "";
            width: 100%;
            height: 25em;
            position: absolute;
            display: block;
            background: linear-gradient(90deg, #084d17 0%, #0e8729 100%);
            border-radius: 20px 0 20px 0;
            z-index: 1000;
            opacity: .7;
        }

        .about-02::after{
            content: url('../../public/D’leite.png-white.png');
            width: auto;
            position: absolute;
            left: calc(50% - 16.5em);
            top: calc(50% - 7em);
            z-index: 1200;
            transform: scale(1.3);
            filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
        }
    }


</style>