---
---
<div>
    <span></span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae odio enim corporis excepturi vitae obcaecati officia doloremque, repellendus delectus earum quidem adipisci rem quia sed totam a asperiores veniam.</p>
    <button>
        Lo quiero! 
        <span class="material-symbols-outlined">double_arrow</span>
    </button>
</div>