---
import Header01 from "./Header-01.astro";
import ContactLi from "./ContactLi.astro";
import contacts from "../../sources/contact.json";
import { ListYogurt } from "./ListYogurt.jsx";
import { Yogurt } from "../icons/Yogurt.jsx";
---

<main>
  <Header01/>
  <section class="presentation">
    <div>
      <div class="principal">
        <img class="title-logo" src="../../../D’leite.png-white.png" alt="" />
        <h1>Yogures naturales</h1>
        <ul class="contact-socialmedia-container">
          {
            contacts.map(
              (contact) =>
                contact.online && (
                  <ContactLi
                    contact={contact}
                    width="1.5em"
                    height="1.5em"
                    color="none;"
                  />
                )
            )
          }
        </ul>
      </div>
      <figure class="logo">
        <img src="../../public/logo.png" alt="" />
      </figure>
      <p>
        Descubre nuestro deliciosos mundo de Yogures naturales artesanales. Con
        variedades únicas, nuestro yogurt griego es nuestra especialidad. <strong
          >¡Conócenos y disfruta de una experiencia única en cada cucharada!</strong
        >
      </p>
    </div>
    <h3>Tipos de yogures <Yogurt /></h3>
    <p class="flag1">Puedes seleccionar la cantidad!</p>
    <ListYogurt client:visible />
  </section>
</main>

<style>
  main {
    position: relative;
  }

  main::before {
    content: "";
    position: absolute;
    display: block;
    height: 20em;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(14, 156, 46, 1) 0%,
      rgba(9, 95, 28, 1) 100%
    );
    border-radius: 0 0 35% 35%;
  }

  .presentation,
  .presentation > div {
    position: relative;
    display: flex;
    gap: 0.6em;
    flex-direction: column;
    align-items: center;
  }

  .principal {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: auto;
  }

  .principal h1 {
    font-weight: 200;
    color: white;
  }

  .presentation > div > p {
    margin-top: 10px;
    text-align: center;
    color: #022409;
    padding: 0 0.5em;
  }

  .presentation > h3 {
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: 600;
    color: #022409;
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  .flag1 {
    color: #02240979;
    padding-bottom: 1em;
  }

  .contact-socialmedia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    gap: 0em;
  }

  .title-logo {
    width: 12em;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    width: 6em;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .logo > img {
    width: 68%;
    margin-bottom: 15px;
  }

  @media (width > 700px) {
    main::before {
      border-radius: 0;
      height: 650px;
      /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 53.3%); */
      background: linear-gradient(
        180deg,
        rgba(9, 95, 28, 1) 0%,
        rgba(14, 156, 46, 0) 100%
      );
    }

    .presentation > div {
      flex-direction: row;
      width: 70%;
      margin: 5em;
      justify-content: center;
      gap: 7em;
      /* background-color: #022409; */
    }

    .logo {
      display: none;
    }

    .principal {
      align-items: center;
      border-radius: 40px;
    }

    .logo > img {
      width:;
    }

    .title-logo {
      width: 25em;
    }

    .principal h1 {
      font-size: 1.9em;
      font-weight: 400;
    }

    .contact-socialmedia-container {
      gap: 0.4em;
      padding: 2em;
      transform: scale(1.5);
    }

    .presentation > div > p {
      text-align: start;
      color: rgb(4, 59, 16);
      font-size: 1.5em;
      width: 600px;
    }
    .presentation > h3 {
      margin-top: 10px;
      font-size: 2.6em;
      font-weight: bold;
      color: #022409;
    }
  }
</style>
