---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Be Vietnam Pro", sans-serif;
		text-decoration: none;
		list-style: none;
	}

	body{
		/* background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #0c721d1a 100px), repeating-linear-gradient(#16b04e1e, #16b04e1e);
		background-color: #0c721d13; */
/* 
		background-image: radial-gradient(#138d40 4px, transparent 4px);
		background-size: 100px 100px;
		background-color: #eefeee; */

		/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% ); */

		/* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */

		background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #eefeee 700px), repeating-linear-gradient(rgba(18, 140, 63, 0.12), rgba(18, 140, 63, 0.12));
		background-color: #eefeee;
	}
</style>
